/* VARIABELEN */
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BASIS */
body {
  margin: 0;
}

/* APP CONTAINER */
#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  box-sizing: border-box;
}

/* FILM RASTER */
.films {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 18px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* FILM KAART */
.film-card {
  width: 100%;
  background: #1f1f1f;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease;
}

.film-card:hover {
  transform: scale(1.03);
}

/* POSTER */
.film-card img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
}

/* FILM INFO */
.film-info {
  padding: 12px;
  position: relative;
  z-index: 5;
  background: #1f1f1f;
}

/* TITEL EN KNOP */
.film-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.titel-text {
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

/* FAVORIETEN KNOP */
.save-btn {
  cursor: pointer;
  font-size: 24px;
  color: #888;
  transition: 0.2s;
  user-select: none;
  flex-shrink: 0;
  z-index: 10;
}

.save-btn:hover {
  transform: scale(1.2);
}

.save-btn.saved {
  color: red;
}

/* FILM STATISTIEKEN */
.film-stats {
  margin-top: 8px;
  font-size: 13px;
  color: #ccc;
  text-align: left;
}

/* FILM SAMENVATTING */
.film-overview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.94);
  color: white;
  padding: 14px;
  padding-top: 70px; 
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* ZICHTBAAR BIJ HOVER */
.film-card:hover .film-overview {
  opacity: 1;
}